<h4 class="title">{{ selectedMovie ? ('Update "' + selectedMovie?.title + '"') : 'Add New' + ' Movie:' }}</h4>
<form [formGroup]="movieFormGroup">
  <input type="text" placeholder="Title" formControlName="title">
  <textarea type="text" placeholder="Description" formControlName="description" rows="6"></textarea>
  <input type="number" placeholder="Year" formControlName="year">
  <button #submitButton type="submit" [disabled]="(!selectedMovie && isExistingMovieName(movies$ | async)) || movieFormGroup?.pending || movieFormGroup?.invalid" (click)="submitButton?.disabled ? null : save()">Save</button>
  <button *ngIf="selectedMovie || movieFormGroup?.dirty" type="button" class="cancel-button" (click)="reset()">Cancel</button>
</form>