form {
  padding: .5rem;
  input {
    display: block;
    margin-top: .5rem;
    padding: .5rem 1rem;
  }
  button {
    margin: .5rem 0;
    padding: .5rem 1rem;
    color: white;
    background-color: #5e97f6;
    border-radius: 2px;
    border: none;
  }
}