<app-movie-form></app-movie-form>
<ng-container *ngIf="actionsSubject | async as action">
  <div *ngIf="action?.type === movieActionTypes.LoadMoviesFailure">
    <h4>Error {{ action?.payload?.error?.status }}: Cannot load movies!</h4>
    <button type="button" (click)="loadMovies()">Retry</button>
  </div>
</ng-container>
<div class="movies" *ngIf="movies$ | async as movies">
  <h4 *ngIf="movies?.length" class="title">Movies:</h4>
  <ul>
    <li title="Modify" *ngFor="let movie of movies" (click)="updateMovie(movie)">
      <span>{{ movie?.title }} ({{ movie?.year }})</span>
      <button title="Delete" type="button" class="delete-button" (click)="deleteMovie($event, movie)">+</button>
      <small class="description" *ngIf="movie?.description">{{ movie?.description }}</small>
    </li>
  </ul>
</div>